.photo-explanation
	=image_tag("/box.png", height: '400')

.menu-explanation
	.magellan-container{"data-magellan-expedition" => "fixed", "data-options" => "destination_threshold:65;throttle_delay:0;", style: ""}
		%dl.sub-nav
			%dd{"data-magellan-arrival" => "arrival"}
				%a{href: "#arrival"}
					Arrival
			%dd{"data-magellan-arrival" => "destination"}
				%a{href: "#destination"}
					Destination
			%dd{"data-magellan-arrival" => "js"}
				%a{href: "#js"}
					Javascript
			%a.button.radius{href: "#"}Valider
	%hr/
.explanation
	.row{"data-magellan-destination" => "arrival"}
		%p
		%a{name: "arrival"}
		%h3 Arrival
	.row	
		=image_tag("/box.png", height: '235', width: '125')

	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')

	.row	
		=image_tag("/box.png", height: '235', width: '125')	

		%p
		You can create the destination structure for Magel…
		%h4
		HTML
		%hr/
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row{"data-magellan-destination" => "destination"}
		%p
		%a{name: "destination"}
		%h3 Destination
		%p
		You can create the destination structure for Magel…
		%h4
		HTML
		%hr/
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')

	.row{"data-magellan-destination" => "js"}
		%p
		%a{name: "js"}
		%h3 JS
		%p
		You can create the destination structure for Magel…
		%h4
		HTML
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')
	.row	
		=image_tag("/box.png", height: '235', width: '125')
		%hr/